h1 {
    font-family: 'Press Start 2P', cursive;
}
p {
    font-family: 'Roboto', sans-serif;
}
#jumbo1{
    margin-bottom:0;
    background: #6ed3cf;
}
#jumbo2{
    margin-bottom:0;
    background: #9068be;
}
#jumbo3{
    margin-bottom:0;
    background: ##e62739;
}
#jumboheader{
    margin-bottom:0;
    background: #e1e8f0;
}
#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none;
}

#boxes.window {
  position: absolute;
  left: 0;
  top: 0;
  width: 440px;
  height: 200px;
  display: none;
  z-index: 9999;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

#boxes #dialog {
  width: 750px;
  height: 300px;
  padding: 10px;
  background-color: #ffffff;
  font-family: 'Segoe UI Light', sans-serif;
  font-size: 15pt;
}

#popupfoot {
  font-size: 16pt;
  position: absolute;
  bottom: 0px;
  width: 250px;
  left: 250px;
}
