<!DOCTYPE html>
<html lang="en">
<head>
  <title>Image recognition</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://rawgit.com/kangax/fabric.js/master/dist/fabric.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    <style type='text/css'>
        #sheet {
            border:1px solid black;
        }
    </style>
    <script type='text/javascript'>
       
        
        window.onload = function() {
            var canvas = new fabric.Canvas('sheet');
            canvas.isDrawingMode = true;
            canvas.freeDrawingBrush.width = 5;
            canvas.freeDrawingBrush.color = "#ff0000";
            
            $(document).on("click", "#savepng", function() {
            canvas.isDrawingMode = false;
            var newTab = window.open();
            var img = new Image();
            img.onload = function() {
            newTab.document.body.append(img);
            }
            img.src = canvas.toDataURL({
            format: 'image/png'
            });
            });
            
            $(document).on("click", "#drawmode", function() {
            canvas.isDrawingMode = true;
            });
        }
        
        function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</head>
<body>

        <div class="jumbotron" id="jumbo1">
                <div  class="container">
                        <div class="row" align="centre">
                        <h1 >Image Identifier</h1>
                        <p class="lead">For Identifering Images and finding related information!</p>
                        <p class="lead">Powered by</p>
                        <img id="flask" class="img-responsive" src="/static/img/flasklogo.png" align="left" style="height: 150px; width: 320px" />
                        <img id="reddit" class="img-responsive" src="/static/img/fbjs.png" align="left" style="height: 150px; width: 320px" />
                        <img id="tensor" class="img-responsive" src="/static/img/tensorflow.png" align="left" style="height: 150px; width: 320px" />
                        </div>
                </div>
        </div>
        <div id="jumbo2" class="jumbotron" align="center" style="margin-bottom:0;">
            <canvas id="sheet" width="400" height="400"></canvas>
            <button id="savepng">Convert to PNG</button>
            <button id="drawmode">Drawing mode</button>
        </div>
        <div id="jumboheader" class="jumbotron" align="center" style="margin-bottom:0;">
            <p >select the image you drew or an already existing image below.</p>
        </div>
        <div id="jumbo3" class="jumbotron" align="center" style="margin-bottom:0;">
        <form action = "http://localhost:5000/uploader" method = "POST" 
                  enctype = "multipart/form-data" >
            <input type = "file" name = "file" onchange="readURL(this);" />
            <img id="blah" class="img-thumbnail" src="#" />
            <input id="predictbtn" class="btn btn-success" type = "submit"/>
        </form>
        </div>
        <div id="jumbo3" class="jumbotron" align="center" style="margin-bottom:0;">
        <form action = "http://localhost:5000/imgUploader" method = "POST" 
                  enctype = "multipart/form-data" >
            <input type = "file" name = "file" onchange="readURL(this);" />
            <img id="blah" class="img-thumbnail" src="#" />
            <input id="predictbtn" class="btn btn-success" type = "submit" value="Image" />
        </form>
    </div>
    </body>
</html>